@model UserManagement.Web.Models.Users.EditUserViewModel

<h2>Edit User</h2>
@* Display validation messages *@

@if (!ViewData.ModelState.IsValid)
{
        <div class="alert alert-danger">
            <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                                <li>@error.ErrorMessage</li>
                }
            }
            </ul>
        </div>
}
@* Form for editing an existing user *@

<form asp-controller="Users" asp-action="EditUser" method="post">
    @* Populate the input fields with the existing user data *@
    <div>
        @Html.LabelFor(model => model.Forename)
        @Html.EditorFor(model => model.Forename)
        @Html.ValidationMessageFor(model => model.Forename)
    </div>

    <div>
        @Html.LabelFor(model => model.Surname)
        @Html.EditorFor(model => model.Surname)
        @Html.ValidationMessageFor(model => model.Surname)
    </div>

    <div>
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.EditorFor(model => model.DateOfBirth)
        @Html.ValidationMessageFor(model => model.DateOfBirth)
    </div>

    <div>
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div>
        @Html.LabelFor(model => model.IsActive)
        @Html.CheckBoxFor(model => model.IsActive)
    </div>

    <button type="submit" class="btn btn-primary">Update User</button>
</form>
