@model UserManagement.Web.Models.Users.ViewUserViewModel

<h2>User Details</h2>

@* Display user details in a readable format *@

<div>
    <strong>Forename: </strong> @Model.Forename <br />
    <strong>Surname: </strong> @Model.Surname <br />
    <strong>Date of Birth: </strong> @Model.DateOfBirth.ToString("dd/MM/yyyy") <br />
    <strong>Email: </strong> @Model.Email <br />
    <strong>Active: </strong> @(Model.IsActive ? "Yes" : "No") <br />
</div>

@if (Model.Logs?.Items != null)
{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <h2> All Logs</h2>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <table id="logsTable">
        <thead>
            <tr>
                <th style="padding-right: 10px;">Log ID</th>
                <th style="padding-right: 15px;">Timestamp</th>
                <th style="padding-right: 10px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs.Items)
            {
                <tr>
                    <td style="padding-right: 10px;">@log.Id</td>
                    <td style="padding-right: 15px;">@log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td style="padding-right: 10px;">@log.Action</td>
                </tr>
            }
        </tbody>
    </table>


    <script>
        var $j = jQuery.noConflict();
        $j(document).ready(function () {
            $j('#logsTable').DataTable();
        });
    </script>
}

